@import "statusbar.css";
@import "form.css";
@import "bigscreen.css";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    overflow: auto;
    background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2t5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;;
}

.welcome-header{
    margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
a{
    transition:1s;
}


